/* Para comentar no css  (ctrl + ;) */
body {
  font-family: "Poppins", sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  /* background-color: #5e5b5bad; */
  color: #333333;
  /* background: linear-gradient(to right, #e88307, #ff4500, #e88307); */
  background-image: url("https://s1.static.brasilescola.uol.com.br/be/2022/11/vista-de-um-por-do-sol-sobre-as-nuvens-com-o-ceu-apresentando-varias-cores.jpg");
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

body.modo-escuro {
  /* background: linear-gradient(to right, #0a0a63, #929399, #0a0a63); */
  background: url("https://cdn.pixabay.com/photo/2020/04/30/20/14/sky-5114501_1280.jpg");
  color: #f5f5f5;
}

header {
  /* Para da um espaço entre elementos utilizamos dois (display: flex; / justify-content: space-between) */
  display: flex;
  justify-content: space-between;
  padding: 35px; /*espaçamento */
}
header .logo,
header .imagem-botao {
  width: 30px;
  transition: 0.2s ease-in-out;
}

header #botao-alterar-tema {
  background: none;
  border: none;
}

/* a pseudoclasse :hover para da efeito de mini zoom */
header .logo:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
  transform: scale(1.05);
  cursor: pointer;
}

main {
  padding: 25px;
}

main .listagem-pokemon {
  display: flex;
  flex-wrap: wrap; /* cria multi-linhas */
  gap: 30px; /*espaçamento entre todos os card/cartões  */
  justify-content: center;
}

main .cartao-pokemon {
  background-color: #d8e3ec;
  width: 200px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
  transition: 0.2s ease-in-out;
}

main .cartao-pokemon:hover {
  /* background-color: #96d9d6; */
  background: linear-gradient(to bottom, #00bfff, #87cefa, #87ceeb);
}

.modo-escuro .cartao-pokemon {
  background-color: #a8a8a8;
}

main .cartao-pokemon .informacoes {
  display: flex;
  justify-content: space-between;
  border: 0.6px solid #333333;
  border-radius: 10px;
  /* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); */
}
main .cartao-pokemon .informacoes span {
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
}

main .cartao-pokemon .gif {
  width: 80px;
  height: 80px;
}

main .cartao-pokemon .tipos {
  display: flex;
  gap: 15px;
}

main .cartao-pokemon .tipo {
  padding: 5px;
  border-radius: 10px;
}

.grama {
  background-color: #7ac74c;
}

.veneno {
  background-color: #df67ddfb;
}

.fogo {
  background-color: #ee8130;
}

.agua {
  background-color: #6390f0;
}

.eletrico {
  background-color: #ffd700;
}

.normal {
  background-color: #a4acaf;
}
.fantasma {
  background-color: #7e79a4;
}

.psiquico {
  background-color: #f366b9;
}

main .descricao {
  font-size: 14px;
  max-height: 80px;
  overflow-y: scroll;
  padding-right: 8px;
}
